@model IEnumerable<_Entidades.Empresa>

@{
    ViewBag.Title = "Empresas";
}

@section styles {
    <link rel="stylesheet" href="~/Content/jquery-ui.css" />
    <link rel="stylesheet" href="~/Content/appStyle.css" />
}

<h2>Empresas</h2>

@Html.Partial("~/Views/_common/_filters.cshtml")

<div id="EmpresaTable"></div>

@section Scripts {
    <script src="~/Scripts/_jtEmpresa.js" type="text/javascript"></script>
}
