@model IEnumerable<_Entidades.Plan>

@{
    ViewBag.Title = "Listado";
}

@section styles {

}

<h2>Planes</h2>

<div id="PlanTable"></div>

@section Scripts {

    <script src="~/Scripts/_jtPlan.js" type="text/javascript"></script>

}
